{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-4">
        ShoppyList
    </h1>

    <p class="lead">
        Jednostavna aplikacija za upravljanje
        shopping listama i praćenja kupovine.
    </p>

    <div class="mt-4">

        <a
            href="/liste"
            class="btn btn-primary me-2">

            Pregled lista

        </a>

        <a
            href="/stats"
            class="btn btn-secondary">

            Graf podataka

        </a>

    </div>

</div>

{% endblock %} %}